<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-horizon/bootstrap-horizon.css">
    <title>Blog-page</title>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Bree+Serif|Crete+Round&display=swap" rel="stylesheet">
   <!--<link href="../css/navbar_css.css" rel="stylesheet">
    <link href="../css/footer_css.css" rel="stylesheet">-->
    <link rel="stylesheet" href="bp.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top navbar-color">
        <!-- Brand -->
        <a class="navbar-brand ml-2" href="#">Harbacore</a>

        <!--Toggler/collapsibe Button -->
        <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Navbar links-->
        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto" id="navbar-link">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#" th:href="@{/blog/electric-vehicle/how-to-save-Rs-100-daily-with-electric-scooter}">Blogs</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#sticky-footer">Contact Us</a>
                </li>

                <li class="nav-item mr-2">
                    <a class="nav-link" th:href="@{/harbacore-cares/harbacore-robinhoodarmy-association-for-covid-aid}" href="#">
                        Harbacore Cares</a>
                </li>

                <!--<li class="nav-item mr-2">-->
                <!--<a class="nav-link" href="#">About Us</a>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>
    <div class="container" id="body-container">
        <div class="row m-5" id="body-row">
            <div class="col-lg-9 col-sm-12 col-md-8" id="main-blog">
                <a href="#" id="tag" style="color:#F9735C">Resources</a>
                <h1 id="blog-title">Is Covid-19 Pandemic crisis forcing us to think differently?</h1>
                <br>
                <div class="row" id="info" style="line-height: 1.2rem;">
                    <div class="col-sm-8" id="author-info">
                        <div class="col-3">
                            <p>image</p>
                        </div>
                        <div class="col-8">
                            <p class="name">Author-name</p>
                            <p class="read">Read time</p>
                            <p class="read date">date</p>
                        </div>
                    </div>
                    <div class="col-sm-4" id="sharing-1">
                        <p style="color: #818181; line-height: 1.7rem;">Share this article</p>
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="sharing-icon-1">
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_whatsapp"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>
                </div>
                <!-- <br> -->
                <hr>
                <ul id="highlights">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, nam!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, nam!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, nam!</li>
                </ul>
                <hr>
                <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur ipsam vero aspernatur, soluta dolore expedita quia dolorem! Cumque distinctio totam, voluptatum corrupti maiores dolorum doloribus necessitatibus neque, aut quis explicabo
                    quisquam ipsam praesentium quasi, unde consequatur maxime magnam accusamus sed animi illum. Quod nulla magni exercitationem hic. Ullam aliquid magni velit provident tempore, et ipsum beatae, corrupti totam dolor nostrum sequi doloremque
                    cupiditate quod eius quidem? Totam perspiciatis beatae explicabo voluptatum eos, excepturi, a esse reprehenderit neque ipsa necessitatibus. Dignissimos voluptatem quisquam cum labore exercitationem recusandae explicabo maxime ducimus
                    natus voluptate, velit ab suscipit ipsa voluptates illo sit maiores aut placeat beatae? Ex, voluptatibus eaque accusantium officia minima dolor officiis quod dicta, quae iusto, dolores placeat illo. Nisi ipsa molestias excepturi eius
                    sunt accusamus quae enim, provident iusto quo, exercitationem est sint cumque vitae iure modi recusandae. Aliquam, rerum, exercitationem nostrum harum totam debitis id doloremque esse dolor minima necessitatibus! Ad officiis repudiandae
                    deserunt qui facilis praesentium quis eaque eos nesciunt, rem ipsam, esse illum quisquam sint, cum autem. Asperiores rerum adipisci doloribus quos odit corporis. Autem repudiandae sequi sapiente, fugit ipsum consequatur officia nulla
                    inventore fuga tenetur quisquam quas a ex numquam asperiores est. Labore perspiciatis provident modi nihil recusandae cum minima magni tempore, reiciendis qui deleniti aliquam? Eum sequi quos veniam velit qui voluptatibus quo veritatis,
                    impedit numquam repellendus a aperiam aliquam at iusto adipisci omnis. Facere doloremque aliquid sunt cumque, consequuntur dicta tempora voluptatibus temporibus, odio ducimus magnam maiores ratione sequi fugiat quas? Iusto quo similique
                    non repellat consectetur dolor. Sapiente at atque neque incidunt, animi eum doloremque! Magni voluptatibus deserunt dolorem ipsum nobis magnam accusantium totam, quo, ex autem laudantium exercitationem, fuga vel temporibus repellat
                    at quaerat hic excepturi aliquam iste? Alias, atque ea fugit dolorem ducimus at quaerat assumenda modi dolore perferendis et tenetur magnam maxime odit possimus consectetur dignissimos nostrum cumque, aliquam tempore rem aperiam accusantium?
                    Voluptatibus sint officiis sit quaerat adipisci, inventore deserunt ipsum error molestias nostrum aut ab rerum ad suscipit nam accusantium repellat id maiores similique! Quaerat placeat adipisci ex praesentium aperiam accusamus delectus
                    vero ipsa optio minima est tenetur fugiat, dignissimos tempore iure fugit temporibus deserunt! Veritatis explicabo dolorem impedit, error porro quaerat, velit nesciunt ipsa ad necessitatibus saepe suscipit culpa deleniti. Illo, labore
                    perferendis laboriosam ratione quia sequi aperiam modi enim eaque, inventore saepe accusantium at pariatur amet distinctio quisquam, omnis et delectus? Atque, alias. Beatae nostrum ex nesciunt nam odio. Aliquid ea, quisquam esse rerum,
                    distinctio nihil quo sequi consequuntur explicabo pariatur dolorem reiciendis magnam mollitia nesciunt cupiditate non a inventore eaque quod ut, quam minus libero aliquam. At, necessitatibus repudiandae quod doloremque ad, laboriosam
                    id vitae numquam labore nam voluptatem aliquid in quia. Amet, nam. Maiores recusandae, vitae quam dolores facilis nam cupiditate accusamus magni minima eaque dolorem esse cum aliquid eligendi vero itaque officiis fuga iure placeat
                    quibusdam id. Provident vel ea, id mollitia temporibus repellat cupiditate maxime eius similique officia dolores corporis architecto autem. Rerum quod velit fuga animi exercitationem totam ullam laboriosam voluptatem vitae!</p>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-4" id="sidebar">
                <div id="sidebar-2">
                    <h3 id="sidebar-heading">Popular!</h3>
                    
                        <ul class="home-editor-pick-list">
                            <li class="data" style="list-style: none">
                            <div class="text-content">News</div></li>
                    </ul><p id="sidebar-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aperiam dolorum voluptatem dignissimos ipsum voluptates hic facere nostrum provident est aut quibusdam, quisquam deserunt. </p>
                    <p class="end-content mt-0">By Team Harbacore.</p>
                    
                    
                    <li style="list-style: none"><div class="text-content">News</div></li><p id="sidebar-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aperiam dolorum voluptatem dignissimos ipsum voluptates hic facere nostrum provident est aut quibusdam, quisquam deserunt. </p>
                    <p class="end-content mt-0">By Team Harbacore.</p>

                </div>
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h5 class="text-white">About Company</h5>
                    <p class="mt-2">Harbacore is an Indian startup with a strong aim to provide all best class product in the electrical, electronics and automotive sector with best affordable price and fast delivery.</p>
                    <p><a href="#" th:href="@{/sitemap.xml}" class="text-white-50">
                        Visit Sitemap
                    </a> </p>
                </div>

                <div class="col-sm-3"></div>

                <div class="col-sm-4">

                    <h5 class="text-white">Contact Us</h5>
                    <p class="mt-2"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 105/693 N Bhannana Purwa, Kanpur, Uttar Pradesh - 208001</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> &nbsp +91 - 9415302372</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp harbacore@gmail.com</p>

                </div>

            </div>
        </div>
        <div class="container text-center">
            <small>Copyright &copy; Harbacore</small>
        </div>
    </footer>
</body>

</html>