.divider
{
    height:100vh;
    
    background-color: #ddeeee;
    position:relative;
}
.lists
{
    list-style: none;
}
.logo
{   padding-top:50px;
    padding-left:50px;
    color:#5469d4;
    font-size: 30px; 
    font-weight:bold;
}
.logo2
{
    padding-top:50px;

    color:#5469d4;
    font-size: 30px; 
    font-weight:bold;
}
.account2
{
    font-size:30px;
    line-height:1.25;
    
}
.account
{
    position:absolute;
    top:8%;
    font-size:30px;
    padding-left:10px;
    
    
}
.second-half
{
    
}
.items
{
    color:gray;
    margin:30px;
}
.icons
{
    color:#5469d4;
    font-size:20px;
}
.foot
{
    position:absolute;
    bottom:1%;
    left:12%;
}
.input
{
    font-size:20px;
    padding:10px;
    margin-top:20px;

}
#email, #fname, #pwd
{
    margin-left:10px;
    height:40px;
    font-size:20px;
    width:40vh;
    margin-right:10px;
    }
.button
{
    margin-top:20px;
    margin-right:10px;
    margin-left:10px;
    width:40vh;
    height:40px;
    border-radius:5px;
    background-color:#5469d4;
    font-size:15px;
    color:white;
    position:relative;
   
    
}
.signin
{
    position:absolute;
    left:35%;
    
    
    font-size:15px;
    /*margin-left:50px;
    padding-left:60px;
    margin-top:80px;*/
}
.signin2
{
    color:#5469d4;
}
.signin a:hover{
    color:#5469d4;
    text-decoration:none;
    outline:none;
}
@media(min-width:769px)
{
    .divider
    {
        border-right:1px solid lightgray;
    }
    .content
{
    position:relative;
    top:5%;
    
    
}

    }
@media(max-width:414px)
{
    
    .signin
    {
        position:absolute;
        left:27%;
    }
}
