html, body
{
    width:100%;
    overflow-x:hidden;
}
.divider
{
    height:100vh;
    
    background-color: #ddeeee;
    position:relative;
}
.lists
{
    list-style: none;
}
.logo
{   padding-top:50px;
    padding-left:50px;
    color:#5469d4;
    font-size: 30px; 
    font-weight:bold;
}
.logo2
{
    padding-top:50px;

    color:#5469d4;
    font-size: 30px; 
    font-weight:bold;
}
.account2
{
    font-size:30px;
    line-height:1.25;
    
}
.account
{
    position:absolute;
    top:8%;
    font-size:30px;
    padding-left:10px;
    width:100%;
    
}
.second-half
{
    
}
.items
{
    color:gray;
    
}
.icons
{
    color:#5469d4;
    font-size:20px;
}
.foot
{
    position:absolute;
    bottom:1%;
    left:12%;
}
.input
{
    font-size:20px;
    padding:10px;
    margin-top:20px;

}
#email, #fname, #pwd, #email2, #fname2, #pwd2, #pwd3, #pwd4
{
    /*margin-left:10px;*/
    height:40px;
    font-size:20px;
    width:80%;
   /* margin-right:10px;*/
    border-radius:10px;
    border:1px solid gray;
    }
.button
{
    margin-top:40px;
    /*margin-right:10px;*/
    /*margin-left:10px;*/
    width:80%;
    height:40px;
    border-radius:10px;
    background-color:#5469d4;
    font-size:18px;
    color:white;
    position:relative;
   
    
}
.signin
{
    width:100%;
    position:absolute;
    right:8%;
    margin-top:8px;
    
    
    font-size:15px;
    /*margin-left:50px;
    padding-left:60px;
    margin-top:80px;*/
}
.signin2
{
    color:#5469d4;
}
.signin a:hover{
    color:#5469d4;
    text-decoration:none;
    outline:none;
}
@media(min-width:769px)
{
    .divider
    {
        border-right:1px solid lightgray;
    }
    .content
{
    position:relative;
    top:5%;
    
    
}

    }
@media(max-width:414px)
{
    
    .signin
    {
        position:absolute;
        right:1.8%;
        width:100%;
    }
    #email2, #fname2, #pwd3, #pwd4
{
    /*margin-left:10px;*/
    height:40px;
    font-size:20px;
    width:100%;
   /* margin-right:10px;*/
    border-radius:10px;
    border:1px solid gray;
    }
    .button
    {
        width:100%;
    }

}
