.navbar-color {
    background-color: #141e30;
}

#navbar-link li a:link {
    color: #f8f9fa;
}

#navbar-link li a:hover {
    color: rgba(255, 255, 255, .5);
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font-family: 'Bree Serif', serif;
    font-family: 'Crete Round', serif;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    font-weight: 500;
    color: black;
}
a{
    text-decoration: none;
    outline:none;
    transition: .3s;
}
#main-blog a
{
    font-size: 1rem;
}
#body-row {
    justify-content: space-around;
}
#tag {
    font-weight: 700;
    letter-spacing: .0625rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: red;
}
.name
{
    font-size:20px;
}
.read
{
    font-size:16px;
    color:#FF99A0;
}
.date
{
    font-size: 16px;
    color:#030303;
        
    }
}
#blog-title {
    /*font-weight: 700;*/
    line-height: 1.2;
    margin: 0 0 1.875rem;
    padding: 0;
    font-weight: bold;
    /* font-size: 4rem; */
    /* text-align: center; */
}

#author-info {
    
    display: flex;
    justify-content: center;
}

#author-text {
    display: inline-block;
}

#sharing-1 {
    text-align: center;
    font-size:12px;
    color:#030303;
    /* justify-content: center; */
    padding-left: 20px;
}
.content
{
    font-size:18px;
    line-height: 2.0;
}

#sharing-icon-1 {
    width: fit-content;
    display: inline-block;
}

#highlights {
    font-size: 20px;
    line-height:150%;
    color: #818181;
    padding: 0px 0px 0px 24px;
}

#main-blog {
    background: #fff;
    border-radius: .9375rem;
    border: .09375rem solid #e6e6e6;
    /* margin: 0 0 1.25rem; */
    margin-top: 10px;
    padding: 2.1875rem 2.5rem;
    overflow: hidden;
    padding: 5rem;
    width: 100%;
}
#sidebar
{
    transition:.3s;
    
}

#sidebar-2 {
    background: #fff;
    border-radius: .9375rem;
    border: .09375rem solid #e6e6e6;
    /* margin: 0 0 1.25rem; */
    
    padding: 12px;
    overflow: hidden;
    display: inline-block;
    clear:both;
    width:100%;
    /* height: fit-content; */
    /* min-height: 200px; */
}

#sidebar-heading {
    font-size:24px;
    font-weight:700;
}
.text-content
{
    font-size:12px;
    color:#D6322E;
    font-weight:700;
    letter-spacing: .0625rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    margin-top:50px;

}



.end-content
{
    font-size:14px;
    color:#030303;
    border-bottom: 1px solid lightgray;
}
#sidebar-content
{
    font-size:16px;
    font-weight:700;
    line-height:1.375rem;
    margin-top:0px;
}
#sticky-footer {
    background-color: #141e30;
    margin-top: 120px;
}


@media (min-width:320px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    body {
        font-size: medium;
    }
    #main-blog {
        padding: 2rem;
    }
    #blog-title {
        font-size: xx-large;
    }
    #hightlights {
        font-size: 2px;
    }
    #sidebar-heading {
        font-size: xx-large;
    }
    #sidebar-content {}
    #sharing-1 {
        /* display: none; */
    }
}


}
@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    
    body {
        font-size: medium;
    }
    
    #main-blog {
        padding: 2rem;
    }
    
    #blog-title {
        font-size: xx-large;
    }
    
    #hightlights {
        font-size: 15px;
    }
    #sidebar
    {
        margin-top:10px;
    }
    
    #sidebar-heading {
        font-size: xx-large;
    }
    
    #sidebar-content {}
    
    #sharing-1 {
        display: none;
    }
}
@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    
    body {
        /* font-size: large; */
        line-height: 3.5rem;
    }
    
    #main-blog {
        padding: 2rem;
    }
    #sidebar
    {
        margin-top:10px;
    }
    
    #blog-title {
        /* font-size: xxx-large; */
    }
    
    #sidebar-heading {}
    
    #sidebar-content {}
}
@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    
    body {
        /* font-size: large; */
    }
    
    #main-blog {
        padding: 5rem;
    }
    #sidebar
    {
        border-radius:5px;
        margin-top:10px;
        width:100%;
    }
    
    #blog-title {
        font-size: xxx-large;
    }
    
    #sidebar-heading {}
    
    #sidebar-content {}
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    
    body {
        /* font-size: large; */
    }
    
    #main-blog {
        padding: 5rem;
    }
    
    #blog-title {}
    
    #sidebar-heading {}
    
    #sidebar-content {}
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    
    body {
        font-size: 2rem;
    }
    
    #main-blog {
        padding: 5rem;
    }
    
    #highlights {
        font-size: 20px;
        padding-left: 5rem;
        line-height: 2rem;
    }
    
    #blog-title {
        font-weight: 10000;
        font-size:2rem;
    }
    
    #body-container {}
}e